$primary-color: #381696;
$primary-background-color: #e0ddeb;
$primary-text-color: #fff;
$gauge-color: #00ff43;
$gauge-background-color: #fff;
$gauge-primary-text-color: #888;
$gauge-hilight-text-color: #000;
